<div class="col-md-1 col-xs-1" ></div>
<a class="col-md-3 col-xs-5 mainbox text" [routerLinkActive]="['link-active']" [routerLink]="['/authenticated/supplier']" style="background-color:wheat;">
    <span class=" glyphicon glyphicon-shopping-cart">    Suppler</span>
 </a>
<div class="col-md-2"></div>
<a class="col-md-3 col-xs-5 mainbox text" [routerLinkActive]="['link-active']" [routerLink]="['/authenticated/tds']" style="background-color:whitesmoke;">
    <span class=" glyphicon glyphicon-shopping-cart">  TDS</span>
</a>
<div class="col-md-3 col-xs-1"></div>
