.mainbox{
    margin-top:150px;
    margin-bottom:150px;
    box-shadow:-25px 25px 25px  #CCCCCC;
    height:250px;
    width:250px;
    }
    
    .text{
    color:#666666;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:100px;
    font-size:30px;
    text-align:center;
    }