<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class='navbar-brand' [routerLink]="['/admin/dashboard']"><img src="assets/logo.png" style ="width:60px;height:27px;"></a>
          <a class='navbar-brand' [routerLink]="['/admin/dashboard']" > <i class="fa fa-home "></i></a>
        </div>             
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" (click)="onToggleLogin()">
                  <a class="btn btn-link" aria-haspopup="true" aria-expanded="false">
                       Hello
                        {{userProfile.name}} 
                      <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" [ngClass]="{'toggleLoginStyle':toggleLogin ===true}">
                      <!-- <li>

                          <a [routerLinkActive]="['link-active']" [routerLink]="['/admin/user-profile/detail']" class=" btn btn-link">
                              User Profile
                          </a>


                      </li>
                      <li role="separator" class="divider"></li> -->
                      <li>
                          <a class="btn btn-link" (click)="logOut()">
                              <span class='glyphicon glyphicon-log-out'></span> Log Out
                          </a>
                      </li>
                  </ul>
              </li>
          </ul>
<br>
      </div>
</div>
</div>